.title {
    font: bold 14px Roboto, sans-serif;
    color: #212121;
    padding-bottom: 0;
    position: relative;
    margin-bottom: 24px;
    text-transform: uppercase;
    text-align: center;
    font-weight: 700;
    letter-spacing: 0.05em;
}
.title:before,
.title:after {
    position: absolute;
    top: 50%;
    overflow: hidden;
    width: 15px;
    height: 1px;
    border-top: 1px solid #212121;
    margin-top: -1px;
    content: '';
}
.title:before {
    margin-left: -30px;
    text-align: right;
}
.title:after {
    margin-left: 15px;
}

.label_cloud{
	margin: 0;
    padding: 0;
    list-style: none;
}

.labelItem{
	display: inline-block;
    margin: 0 8px 8px 0;
    padding: 0;
}

.label_cloud_link {
    display: inline-block;
    font-size: 12px;
    line-height: 28px;
    color: rgba(0,0,0,0.54);
    background-color: #f7f7f7;
    border: 1px solid #f7f7f7;
    padding-left: 12px;
    padding-right: 12px;
    text-transform: capitalize;
    letter-spacing: 0.2px;
    font-weight: 600;

}
